//============================
//    Name: Footer
//============================

$$footerColor = #fff;

myfooter {
	+__() {
		.section--background {
			background-color $$footerColor
		}
		.section {
			padding-left 1rem
			padding-right 1rem
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			max-width 1200px
			padding 1rem 0
			margin auto
		}
		.title {
			color: #0006;
			font-setup(fmain, 14, 400);
			transition: .25s __cubic;
			&:hover {
				color: #000;
			}
		}

	}
}
 