//============================
//    Name: Header
//============================

$$header = #272831;
$$header-text = #4a4a4a;

myheader {
	+__() {
		.section {
			padding-left 1rem
			padding-right 1rem
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width: 1200px;
			margin: auto;
			padding 1rem 0
			+media(678) {
				grid-auto-columns: 1fr auto;
			}
		}
		.section--background {
			background-color $$header
		}
		.brand {
			display: grid;
			justify-content: start;
			align-items: center;
		}
		.item {
			display: grid;
		}
	}
}
 