//============================
//    Name: Main page
//============================

label {
	user-select none
}

body {
	position relative
}

[contenteditable] {
	transition: .25s __cubic;
	&:focus {
		padding .3rem 1rem
		background-color #f1f1f1;
	}
}

$$global-bg = #f2f2f2;

$$btn-normal = #00aa87;
$$btn-hover = #00816c;
$$btn-active = #00826c;

$$colorLite = rgba(#000, 0.37);
$$colorHover = rgba(#000, 0.47);
$$colorNormal = rgba(#000, 0.87);

$$colorText = #00aa87;
$$colorTextHover = #00816c;
$$colorError = #f05c5c;

__borderLite = 1px solid rgba(#000, 0.12);
__borderNormal = 1px solid rgba(#000, 0.37);
__borderStrong = 1px solid rgba(#000, 0.37);

__shadowCardNormal = 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
__shadowCardHover = 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.12);

startpage {
	+__() {
		.section--background {
			background-color $$global-bg;
			height 100%
		}
		.box {
			display: grid;
			grid-auto-flow: row;		
			max-width 1024px
			margin auto
			justify-content: left;
			align-items: center;
			padding 3rem 0
			
			grid-auto-columns: 1fr;
		}
		.title {
			font-setup(fprimal, 82, 400);
			padding-left 3rem
			padding-right 3rem
		}
		.filter {
			margin-top 56px
			display: grid;
			grid-auto-flow: column;
			padding-left 3rem
			padding-right 3rem
			justify-content: space-between;
			align-items: center;
		}
		.filter-group {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;
		}
		.checkbox {
			visibility hidden
			font-size 0
			padding 0
			margin 0
			width 0
			height 0
		}
		.checkbox-label {
			& span {
				position: absolute;
				left: -1.85rem;
				top: 50%;
				transform translate(0, -50%) scale(0)
				
				display: grid;
				width: 13px;
				height: 13px;
				fill: #fff;
				stroke: #fff;
				stroke-width: 1rem;
			}
			
			margin-left 3rem
			margin-right .5em
			position relative
			font-setup(fmain, 16, 400);
			line-height 1.5
			color: $$colorNormal
			cursor pointer
			&:before {
				content: '';
				display: grid;
				width: 18px;
				height: 18px;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: #0000;
				position: absolute;
				left -2rem
				top 50%
				transform translate(0, -50%)
				border 2px solid $$colorNormal
				radius: 3px;
				transition: .09s __cubic;
			}
		}
		.button {
			width: 215px;
			height: 36px;
			border 1px solid $$btn-normal
			radius: 2px;
			box-shadow: __shadowCardNormal
			background-color $$btn-normal;
			transition: .25s __cubic;
			cursor pointer
			user-select none;
			
			font-setup(fmain, 15, 500);
			color: #fff;
			text-transform uppercase
			&:hover {
				background-color $$btn-hover;
			}
			&:active {
				background-color $$btn-active;
			}
		}
		.input {
			width: 340px;
			radius: 2px;
			border __borderLite
			background-color #fff;
			
			font-setup(fmain, 16, 400);
			line-height 1.5
			color: $$colorNormal
			padding .5rem 1rem 
			
			transition: .25s __cubic;
			&:hover {
				border __borderNormal
			}
			&:active {
				border __borderNormal
			}
			&:focus {
				border __borderNormal
			}
			&::placeholder {
				font-setup(fmain, 16, 400);
				line-height 1.5
				color: $$colorLite
			}
		}
	}
}


card {
	+__() {
		.section {
			margin-top 20px
			display: grid;
			grid-auto-flow: row;
			padding-left: 3rem;
			padding-right: 3rem;
			position relative
		}
		.empty {
			opacity 0
			display: grid;
			justify-content: center;
			align-items: center;
			text-align center
			user-select none
			position absolute
			left 50%
			top 0
			transform translate(-50%, 0)
		}
		.empty-text {
			font-setup(fmain, 23, 400);
			text-transform uppercase
			color: $$colorError;
		}
		.empty-img {
			padding: 4rem 3rem 1rem;
			width: 500px;
		}
		.box {
			&:not(:first-child) {
				margin-top 20px
			}
			overflow hidden
			display: grid;
			background-color #fff;
			border 1px solid #0000;
			radius: 3px;
			padding 1rem 24px
			transition: .25s __cubic;
			z-index: 1;
			box-shadow: __shadowCardNormal
			&:hover {
				box-shadow: __shadowCardHover;
			}
		}
		.head {
			display: grid;
			grid-auto-flow: row;
			gap: 12px;
		}
		.title {
			max-width: 66.666%;
			max-height 4rem
			overflow hidden
			font-setup(fmain, 23, 400);
			color: $$colorNormal
			line-height 1.39
			word-break: break-word;
		}
		.item {
			font-setup(fmain, 14, 500);
			line-height 1.14;
			letter-spacing .5px;
			text-transform uppercase
			color: $$colorLite
			user-select none
			cursor pointer
			justify-content: left;
			align-items: center;
			&-status {
				color: $$colorNormal
				cursor: unset
				text-transform none
				display: grid;
				grid-auto-flow: column;
				grid-auto-columns: auto;
				align-items: baseline;
				justify-content: center;
				gap: 0.3rem;
			}
			&-add {
				display none
				color: $$colorText
				&:hover {
					color: $$colorTextHover
				}
			}
			&-exit, &-reopen, &-remove {
				display none
				&:hover {
					color: $$colorHover
				}
			}
			&-exit, &-reopen {
				width: 10rem;
			}
			&-reopen {
				color: $$colorText
				&:hover {
					color: $$colorTextHover
				}
			}
			&-remove {
				xsize = 1rem
				grid-auto-flow: column;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				& span {
					display: grid;
					width xsize
					height xsize
					fill: $$colorNormal;
					justify-content: center;
					align-items: center;
					position relative
					&:before {
						transition: .25s __cubic;
						content: '';
						display: grid;
						width: 2rem;
						height: 2rem;
						font-size: 1rem;
						line-height: 1;
						text-align: center;
						background-color: rgba(#ddd, 0.50);
						position: absolute;
						left -50%
						top -50%
						radius: 100%;
						transform scale(0)
					}
					&:hover {
						&:before {
							transform scale(1)
						}
					}
				}
				& span:nth-of-type(1) {
					fill: $$colorText;
					& svg {
						position: relative;
						z-index: 2;
						pointer-events: none;
					}
				}
				& span:nth-of-type(2) {
					fill: $$colorError;
					& svg {
						width xsize - 0.2rem
						height xsize - 0.2rem
						position: relative;
						z-index: 2;
						pointer-events: none;
					}
				}
			}
			&-close {
				display: none;
				grid-auto-flow: column;
				gap: .7rem;
				align-items: center;
				justify-content: center;
				color: $$colorNormal
				cursor: unset
				text-transform none
				& span {
					display: grid;
					width 14px
					height 14px
					fill: rgba(#000, 0.57);
					stroke: #0000;
				}
			}
		}
		.text {
			font-setup(fmain, 14, 400);
			color: rgba(#000, 0.57);
			&:hover {
				color: $$colorNormal
			}
		}
		.text-kill {
			display none
		}
		.nav {
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;
			align-items: center;
		}
		.group {
			display: grid;
			grid-auto-flow: column;
			gap: 1rem;
			justify-content: center;
			align-items: center;
		}
		.group:last-child {
			gap: 24px;
			grid-auto-columns: 1fr .45fr;
			grid-auto-rows: 1rem;
		}
	}
}






card-list {
	+__() {
		.box {
			padding-top: .7rem;
			border-top: __borderLite
			margin-top: 1.2rem;
			display: grid;
			gap: 12px;
		}
		.head {
			display: grid;
			grid-auto-flow: row;
			grid-auto-columns: 1fr;		
			
			max-width 66.666%
		}
		.title {
			display none
			max-height 4rem
			overflow hidden
			font-setup(fmain, 16, 400);
			line-height 1.5;
			color: $$colorNormal
			word-break: break-word;
			border-radius: 3px;
			border: 1px solid #0000;
			transition: .25s __cubic;
			// padding-left 1.5rem
		}
		.title-edit {
			transition: .25s __cubic;
			padding 0
			// padding-left 1.5rem
			&:focus {
				background-color #f1f1f1;
				padding .3rem 1.5rem
			}
		}
		.nav {
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;
			align-items: center;
		}
		.item {
			display: inline-grid;
			grid-auto-flow: column;
			gap: .7rem;
			font-setup(fmain, 14, 500);
			line-height 1.14;
			letter-spacing .5px;
			text-transform uppercase
			color: $$colorLite
			user-select none
			cursor pointer
			&-search {
				display none
				color: $$colorNormal
				cursor: unset
				text-transform none
				& span {
					display: grid;
					width 14px
					height 14px
					fill: rgba(#000, 0.57);
					stroke: #0000;
				}
			}
			&-add {
				display none
				color: $$colorText
				&:hover {
					color: $$colorTextHover
				}
			}
			&-exit, &-reopen, &-remove {
				display none
				&:hover {
					color: $$colorHover
				}
			}
			&-exit, &-reopen {
				width: 10rem;
			}
			&-reopen {
				color: $$colorText
				&:hover {
					color: $$colorTextHover
				}
			}
			&-remove {
				xsize = 1rem
				grid-auto-flow: column;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				& span {
					display: grid;
					width xsize
					height xsize
					fill: $$colorNormal;
					justify-content: center;
					align-items: center;
					position relative
					&:before {
						transition: .25s __cubic;
						content: '';
						display: grid;
						width: 2rem;
						height: 2rem;
						font-size: 1rem;
						line-height: 1;
						text-align: center;
						background-color: rgba(#ddd, 0.50);
						position: absolute;
						left -50%
						top -50%
						radius: 100%;
						transform scale(0)
					}
					&:hover {
						&:before {
							transform scale(1)
						}
					}
				}
				& span:nth-of-type(1) {
					fill: $$colorText;
					& svg {
						position: relative;
						z-index: 2;
						pointer-events: none;
					}
				}
				& span:nth-of-type(2) {
					fill: $$colorError;
					& svg {
						width xsize - 0.2rem
						height xsize - 0.2rem
						position: relative;
						z-index: 2;
						pointer-events: none;
					}
				}
			}
			&-close {
				display: none;
				grid-auto-flow: column;
				gap: .7rem;
				align-items: center;
				justify-content: center;
				color: $$colorNormal
				cursor: unset
				text-transform none
				& span {
					display: grid;
					width 14px
					height 14px
					fill: rgba(#000, 0.57);
					stroke: #0000;
				}
			}
		}
		.text {
			font-setup(fmain, 14, 400);
			color: rgba(#000, 0.57);
			&:hover {
				color: $$colorNormal
			}
		}
		.text-kill {
			display none
		}
		.group {
			display: grid;
			grid-auto-flow: column;
			gap: 1rem;
			justify-content: center;
			align-items: center;
		}
		.group:last-child {
			gap: 24px;
			grid-auto-columns: 1fr .45fr;
			grid-auto-rows: 1rem;
		}
	}
}

supermix() {
	$$checked = #00a887;
	$$normal = #686868;
	__name = '.startpage__checkbox';
	
	{__name} + {__name}-label:before {
		border-color rgba($$normal, 0.50);
	}
	{__name}:hover + {__name}-label:before {
		border-color rgba($$normal, 1);
	}
	{__name}:checked + {__name}-label:before {
		border-color rgba($$checked, 1);
		background-color $$checked;
	}
	{__name}:checked + {__name}-label span {
		transform translate(0, -50%) scale(1)
	}
}
supermix();

.card__text-kill {
	&.active {
		display grid
	}
}

.card__item-reopen,
.card__item-remove,
.card__item-add,
.card__item-close,
.card__item-exit {
	&.active {
		display grid
	}
}
.card-list__item-remove,
.card-list__text-kill,
.card-list__item-reopen,
.card-list__item-exit,
.card-list__item-search {
	&.active {
		display: grid;
	}
}


.card-list__title.active {
	xleft = .3rem
	display: grid;
	position relative
	transition: .25s __cubic;
	&:hover {
		border-left 4px solid $$colorText
		padding-left xleft
	}
	& + input {
		display: none;
		padding-left xleft
		&:hover {
			padding-left xleft
		}
	}
}
.card-list__title + input {
	display: grid;
}

.card__empty.active {
	animation opacity-cat 0.25s 1 forwards
}

.pointerevents {
	pointer-events: none;
	user-select none
}

.animate-hide-my-card {
	animation hide-my-card 0.55s 1 forwards
	overflow:hidden;
}
.animate-open-my-card {
	animation hide-my-card 0.55s 1 forwards reverse
	overflow:hidden;
}
.anima-remove-me {
	animation remove-me 1s 1 forwards
	overflow:hidden;
}
.anima-add-me {
	animation add-me 0.55s 1 forwards
	overflow:hidden;
}
+key(remove-me) {
	0% {
		transform translateX(0)
	}
	100% {
		transform translateX(150%)
		max-height 0
		padding: 0;
		margin: 0;
	}
}
+key(add-me) {
	0% {
		transform translateX(150%)
	}
	100% {
		transform translateX(0)
	}
}

+key(hide-my-card) {
	0% {
		
	}
	100% {
		height: 0;
		border: 0;
		padding: 0;
		margin: 0;
	}
}

+key(opacity-cat) {
	0% {
		opacity 0
	}
	100% {
		opacity 1
	}
}