

/* ==== SPACE ==== */
.space {
	&-1, &-2, &-3 {
		x = 0;
		justify-content: center;
		align-items center
		background-color: #eee;
		border: 1px solid #bbb;
		border-right: x;
		border-left: x;
		font-size: x;
		width: 100%;
		display: grid;
		grid-template: 1fr / 1fr;
		&:before {
			display: grid;
			font-size: 5rem;
			color: #ccc;
			line-height: 1;
			justify-content: center;
			align-items: center;
		}
	}
	&-1 {
		height 33vh
		&:before {
			content: 'SPACE-1'
		}
	}
	&-2 {
		height 66vh
		&:before {
			content: 'SPACE-2'
		}
	}
	&-3 {
		height 99vh
		&:before {
			content: 'SPACE-3'
		}
	}
}
/* ==== ---- ==== */