
$$global-bg = #f2f2f2;

$$btn-normal = #00aa87;
$$btn-hover = #00816c;
$$btn-active = #00826c;

$$colorLite = rgba(#000, 0.37);
$$colorHover = rgba(#000, 0.47);
$$colorNormal = rgba(#000, 0.87);

$$colorText = #00aa87;
$$colorTextHover = #00816c;
$$colorError = #f05c5c;

__borderLite = 1px solid rgba(#000, 0.12);
__borderNormal = 1px solid rgba(#000, 0.37);
__borderStrong = 1px solid rgba(#000, 0.37);

__shadowCardNormal = 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
__shadowCardHover = 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.12);
__shadowModal = 0 24px 24px 0 rgba(0, 0, 0, 0.24), 0 0 24px 0 rgba(0, 0, 0, 0.12);

modal {
	+__() {
		.section {
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.57);
			z-index: 123;
			left: 0;
			top: 0;
			
			justify-content: center;
			align-items: start;
		}
		.box {
			margin-top 65%
			
			display: grid;
			grid-auto-columns: 1fr;
			grid-auto-flow: row;
			max-width 600px
			width 600px
			justify-content: center;
			align-items: center;
			background-color #fff;
			padding 24px
			radius: 3px;
			box-shadow: __shadowModal
		}
		.title {
			font-setup(fmain, 19, 400);
			line-height 1.47
			color: rgba(#000, 0.87);
			
		}
		.group {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr auto;
			gap: 8px;
			justify-content: center;
			align-items: center;		
		}
		.group--line {
			padding-top: 24px;
			border-top: 1px solid #0000001f;
			margin-top: 1rem;
		}
		.input {
			radius: 2px;
			border __borderLite
			background-color #fff;

			font-setup(fmain, 16, 400);
			line-height 1.5
			color: $$colorNormal
			padding .5rem 1rem

			transition: .25s __cubic;
			&:hover {
				border __borderNormal
			}
			&:active {
				border __borderNormal
			}
			&:focus {
				border __borderNormal
			}
			&::placeholder {
				font-setup(fmain, 16, 400);
				line-height 1.5
				color: $$colorLite
			}
		}

		.button {
			padding: 0.7rem 1.5rem;
			border 1px solid $$btn-normal
			radius: 2px;
			box-shadow: __shadowCardNormal
			background-color $$btn-normal;
			transition: .25s __cubic;
			cursor pointer
			user-select none;

			font-setup(fmain, 15, 500);
			color: #fff;
			text-transform uppercase
			&:hover {
				background-color $$btn-hover;
			}
			&:active {
				background-color $$btn-active;
			}
		}
		.close {
			cursor pointer
			user-select none
			& span {
				pointer-events: none;
				transition: .25s __cubic;
				display: grid;
				width 1rem
				height 1rem
				fill: rgba(0, 0, 0, 0.37);
				stroke: #0000;
				&:hover {
					fill: rgba(0, 0, 0, 0.47);
				}
				&:active {
					
					fill: rgba(0, 0, 0, 0.77);
				}
			}
		}
		.input-label {
			grid-row: 2;
			min-height: 1rem;
			font-setup(fmain, 14, 400);
			color: $$colorError
			transition: .25s __cubic;
		}
	}
}
.modal__section.active {
	display: grid;
}
.modal__input.error {
	border 1px solid $$colorError
}

.modal__input.error + label + button {
	background-color $$colorError
	border 1px solid $$colorError
	animation earthquake .25s forwards
}

.anima-opacity-show {
	animation opacity-show .33s forwards
}
.anima-opacity-hide {
	animation opacity-show .33s forwards reverse
}

+key(opacity-show) {
	0% {
		opacity 0
	}
	100% {
		opacity 1
	}
}

+key(earthquake) {
	0% {
		transform translateX(-2px)
	}
	25% {
		transform translateX(5px)
	}
	50% {
		transform translateX(-5px)
	}
	75% {
		transform translateX(2px)
	}
	100% {
		transform translateX(0)
	}
}