<div class="modal modal__section js__openMyModal">
	<div class="modal__box">
		<div class="modal__group">
			<h4 class="modal__title">Новый проект</h4>
			<div class="modal__close"><span><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span></div>
		</div>
		<div class="modal__group modal__group--line">
			<input id="modal__input_id" type="text" class="modal__input" placeholder="Название проекта" autocomplete="off" maxlength="120" />
			<label for="modal__input_id" class="modal__input-label">&nbsp;</label>
			<button class="modal__button js__myModalCreate">Создать</button>
		</div>
	</div>
</div>