<div role="navigation" class="myheader__section myheader__section--background">
	<nav class="myheader__box">

		<div class="myheader__group myheader__navigat">
			<a class="myheader__brand" title="URL" role="link" href="#">
				<img src="./media/img/logo-png.png" alt="Picture" title="Picture">
			</a>
			<div class="myheader__list">
				<a class="myheader__list-item" title="URL" role="link" href="#">Menu</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">lorem</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">lorem</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">lorem</a>
			</div>
		</div>
		<div class="myheader__group myheader__burger ">
			<div class="myheader__menu js__navHamburger">
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
			</div>
		</div>

	</nav>
	<div class="myheader__group myheader__navigat myheader__navigat--clone js__navHamburgerOpener">
		<div class="myheader__list">
			<a class="myheader__list-item" title="URL" role="link" href="#">Menu</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">lorem</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">lorem</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">lorem</a>
		</div>
	</div>
</div>
