<section class="startpage__section startpage__section--background">
	<div class="startpage__box">
		<h1 class="startpage__title">Список проектов</h1>
		<div class="startpage__filter">
			<div class="startpage__filter-group">
				<label for="startpage__input_id" class="DEL">&nbsp;</label>
				<input id="startpage__input_id" type="text" class="startpage__input" placeholder="Поиск по вакансиям" autocomplete="off" />
				<input id="startpage__checkbox_id" type="checkbox" class="startpage__checkbox" />
				<label for="startpage__checkbox_id" class="startpage__checkbox-label"><span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>Только открытые</label>
			</div>
			<button class="startpage__button js__addNewTask">Добавить проект</button>
		</div>
		
		<div class="startpage__card card__section js__myTaskList">
			<div class="card__empty">
				<img class="card__empty-img" src="./media/img/empty.png" alt="Picture" title="Picture">
				<h2 class="card__empty-text">Кошечка ничего не нашла, миу!</h2>
			</div>
			
			<!-- startpage__card-box -->
			<div class="card__box js__toggleStatus">
				<div class="card__head">
					<h4 class="card__title">Название первого проекта</h4>
					<div class="card__nav">
						<div class="card__group">
							<div class="card__item card__item-status"><span data-worker-count>__NULL__</span><p>вакансии</p></div>
							<div class="card__item card__item-add active" data-project>Добавить вакансию</div>
							<div class="card__item card__item-close" data-project>
								<span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
								<p class="card__text">Проект закрыт, сотрудники наняты</p>
							</div>
						</div>
						<div class="card__group">
							<div class="card__item card__item-exit active" data-reopen>Закрыть проект</div>
							<div class="card__item card__item-reopen" data-reopen>Открыть проект</div>
							<div class="card__item">
								<p class="card__text card__text-kill active" data-status>Удалить</p>
								<div class="card__item-remove" data-status>
									<span data-status-yes><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
									<span data-status-nope><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- card-list__box card-list__box -->
				<div class="card-list__box">
					<div class="card-list__head">
						<h4 class="card-list__title active" data-list-title>Первая вакансия</h4>
						<input class="card-list__title card-list__title-edit" type="text" name="text" autocomplete="off" maxlength="120">
					</div>
					<div class="card-list__nav">
						<div class="card-list__group">
							<div class="card-list__item card-list__item-search active" data-list-project>
								<span><svg role="picture-svg" class="glyphs__search"><use xlink:href="#id-glyphs-search"></use></svg></span>
								<p class="card-list__text">Вакансия открыта, идет подбор кандидатов</p>
							</div>
							<div class="card-list__item card-list__item-search" data-list-project>
								<span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
								<p class="card-list__text">Вакансия закрыта, сотрудник нанят</p>
							</div>
						</div>
						<div class="card-list__group js__toggleListReopen">
							<div class="card-list__item card-list__item-exit active" data-list-reopen>Закрыть вакансию</div>
							<div class="card-list__item card-list__item-reopen" data-list-reopen>Открыть вакансию</div>
							<div class="card-list__item js__toggleListKill">
								<p class="card-list__text card-list__text-kill active" data-list-status>Удалить</p>
								<div class="card-list__item-remove" data-list-status>
									<span data-list-status-yes><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
									<span data-list-status-nope><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- card-list__box card-list__box -->
				<div class="card-list__box">
					<div class="card-list__head">
						<h4 class="card-list__title active" data-list-title>Первая вакансия</h4>
						<input class="card-list__title card-list__title-edit" type="text" name="text" autocomplete="off" maxlength="120">
					</div>
					<div class="card-list__nav">
						<div class="card-list__group">
							<div class="card-list__item card-list__item-search active" data-list-project>
								<span><svg role="picture-svg" class="glyphs__search"><use xlink:href="#id-glyphs-search"></use></svg></span>
								<p class="card-list__text">Вакансия открыта, идет подбор кандидатов</p>
							</div>
							<div class="card-list__item card-list__item-search" data-list-project>
								<span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
								<p class="card-list__text">Вакансия закрыта, сотрудник нанят</p>
							</div>
						</div>
						<div class="card-list__group js__toggleListReopen">
							<div class="card-list__item card-list__item-exit active" data-list-reopen>Закрыть вакансию</div>
							<div class="card-list__item card-list__item-reopen" data-list-reopen>Открыть вакансию</div>
							<div class="card-list__item js__toggleListKill">
								<p class="card-list__text card-list__text-kill active" data-list-status>Удалить</p>
								<div class="card-list__item-remove" data-list-status>
									<span data-list-status-yes><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
									<span data-list-status-nope><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			
			<!-- startpage__card-box -->
			<div class="card__box js__toggleStatus">
				<div class="card__head">
					<h4 class="card__title">Название первого проекта</h4>
					<div class="card__nav">
						<div class="card__group">
							<div class="card__item card__item-status"><span data-worker-count>__NULL__</span><p>вакансии</p></div>
							<div class="card__item card__item-add active" data-project>Добавить вакансию</div>
							<div class="card__item card__item-close" data-project>
								<span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
								<p class="card__text">Проект закрыт, сотрудники наняты</p>
							</div>
						</div>
						<div class="card__group">
							<div class="card__item card__item-exit active" data-reopen>Закрыть проект</div>
							<div class="card__item card__item-reopen" data-reopen>Открыть проект</div>
							<div class="card__item">
								<p class="card__text card__text-kill active" data-status>Удалить</p>
								<div class="card__item-remove" data-status>
									<span data-status-yes><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
									<span data-status-nope><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- card-list__box -->
				<div class="card-list__box">
					<div class="card-list__head">
						<h4 class="card-list__title active" data-list-title>Первая вакансия</h4>
						<input class="card-list__title card-list__title-edit" type="text" name="text" autocomplete="off" maxlength="120">
					</div>
					<div class="card-list__nav">
						<div class="card-list__group">
							<div class="card-list__item card-list__item-search active" data-list-project>
								<span><svg role="picture-svg" class="glyphs__search"><use xlink:href="#id-glyphs-search"></use></svg></span>
								<p class="card-list__text">Вакансия открыта, идет подбор кандидатов</p>
							</div>
							<div class="card-list__item card-list__item-search" data-list-project>
								<span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
								<p class="card-list__text">Вакансия закрыта, сотрудник нанят</p>
							</div>
						</div>
						<div class="card-list__group js__toggleListReopen">
							<div class="card-list__item card-list__item-exit active" data-list-reopen>Закрыть вакансию</div>
							<div class="card-list__item card-list__item-reopen" data-list-reopen>Открыть вакансию</div>
							<div class="card-list__item js__toggleListKill">
								<p class="card-list__text card-list__text-kill active" data-list-status>Удалить</p>
								<div class="card-list__item-remove" data-list-status>
									<span data-list-status-yes><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
									<span data-list-status-nope><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			
			
			<!-- startpage__card-box -->
			<div class="card__box js__toggleStatus">
				<div class="card__head">
					<h4 class="card__title">Название первого проекта</h4>
					<div class="card__nav">
						<div class="card__group">
							<div class="card__item card__item-status"><span data-worker-count>__NULL__</span><p>вакансии</p></div>
							<div class="card__item card__item-add active" data-project>Добавить вакансию</div>
							<div class="card__item card__item-close" data-project>
								<span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
								<p class="card__text">Проект закрыт, сотрудники наняты</p>
							</div>
						</div>
						<div class="card__group">
							<div class="card__item card__item-exit active" data-reopen>Закрыть проект</div>
							<div class="card__item card__item-reopen" data-reopen>Открыть проект</div>
							<div class="card__item">
								<p class="card__text card__text-kill active" data-status>Удалить</p>
								<div class="card__item-remove" data-status>
									<span data-status-yes><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
									<span data-status-nope><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- card-list__box -->
				<div class="card-list__box">
					<div class="card-list__head">
						<h4 class="card-list__title active" data-list-title>Первая вакансия</h4>
						<input class="card-list__title card-list__title-edit" type="text" name="text" autocomplete="off" maxlength="120">
					</div>
					<div class="card-list__nav">
						<div class="card-list__group">
							<div class="card-list__item card-list__item-search active" data-list-project>
								<span><svg role="picture-svg" class="glyphs__search"><use xlink:href="#id-glyphs-search"></use></svg></span>
								<p class="card-list__text">Вакансия открыта, идет подбор кандидатов</p>
							</div>
							<div class="card-list__item card-list__item-search" data-list-project>
								<span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
								<p class="card-list__text">Вакансия закрыта, сотрудник нанят</p>
							</div>
						</div>
						<div class="card-list__group js__toggleListReopen">
							<div class="card-list__item card-list__item-exit active" data-list-reopen>Закрыть вакансию</div>
							<div class="card-list__item card-list__item-reopen" data-list-reopen>Открыть вакансию</div>
							<div class="card-list__item js__toggleListKill">
								<p class="card-list__text card-list__text-kill active" data-list-status>Удалить</p>
								<div class="card-list__item-remove" data-list-status>
									<span data-list-status-yes><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
									<span data-list-status-nope><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- card-list__box -->
				<div class="card-list__box">
					<div class="card-list__head">
						<h4 class="card-list__title active" data-list-title>Первая вакансия</h4>
						<input class="card-list__title card-list__title-edit" type="text" name="text" autocomplete="off" maxlength="120">
					</div>
					<div class="card-list__nav">
						<div class="card-list__group">
							<div class="card-list__item card-list__item-search active" data-list-project>
								<span><svg role="picture-svg" class="glyphs__search"><use xlink:href="#id-glyphs-search"></use></svg></span>
								<p class="card-list__text">Вакансия открыта, идет подбор кандидатов</p>
							</div>
							<div class="card-list__item card-list__item-search" data-list-project>
								<span><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
								<p class="card-list__text">Вакансия закрыта, сотрудник нанят</p>
							</div>
						</div>
						<div class="card-list__group js__toggleListReopen">
							<div class="card-list__item card-list__item-exit active" data-list-reopen>Закрыть вакансию</div>
							<div class="card-list__item card-list__item-reopen" data-list-reopen>Открыть вакансию</div>
							<div class="card-list__item js__toggleListKill">
								<p class="card-list__text card-list__text-kill active" data-list-status>Удалить</p>
								<div class="card-list__item-remove" data-list-status>
									<span data-list-status-yes><svg role="picture-svg" class="glyphs__checkbox"><use xlink:href="#id-glyphs-checkbox"></use></svg></span>
									<span data-list-status-nope><svg role="picture-svg" class="glyphs__closemodal"><use xlink:href="#id-glyphs-closemodal"></use></svg></span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			
			
		</div>
	</div>
</section>




<div class="__device__">&nbsp;</div>
